.hero {
  margin-bottom: 1rem;
  position: relative;
}

.text {
  position: absolute;
  top: 20vh;
  padding: 0 1rem;
}

.text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text h1 span {
  animation: color-change 3s infinite;
}

@keyframes color-change {
  0% {
    color: black;
  }

  50% {
    color: var(--accent-color);
  }

  100% {
    color: purple;
  }
}

.text p {
  margin-bottom: 2rem;
  max-width: 500px;
  font-size: 1.2rem;
}

.btn {
  background-color: var(--secondary-color);
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: purple;
  color: white;
  box-shadow: 0 0 0.75rem 0 rgba(96, 5, 99, 0.75);
}

.design {
  position: absolute;
  right: 0;
  top: 10vh;
  padding-right: 1rem;
}
