.hero {
  margin-bottom: 1rem;
  height: 61vh;
  width: 100%;

  position: relative;
  overflow: hidden;
}

.heroContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  padding-left: 1rem;
}

.text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text h1 span {
  animation: color-change 3s infinite;
}

@keyframes color-change {
  0% {
    color: black;
  }

  50% {
    color: var(--accent-color);
  }

  100% {
    color: purple;
  }
}

.text p {
  margin-bottom: 2rem;
  max-width: 500px;
  font-size: 1.2rem;
}

.btn {
  background-color: var(--secondary-color);
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: purple;
  color: white;
  box-shadow: 0 0 0.75rem 0 rgba(96, 5, 99, 0.75);
}

.wave {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 1299px) {
  .design {
    padding-right: 1rem;
  }

  .heroContainer {
    justify-content: center;
    padding: 0 1rem;
  }
}

@media (max-width: 863px) {
  .design {
    display: none;
  }
}

@media (max-width: 600px) {
  .design {
    display: none;
    padding-right: 1rem;
  }

  .textContainer {
    justify-content: center;
    padding: 0 1rem;
  }
}
