.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  height: 30vh;
}

.footerContent span {
  color: rgb(71, 70, 70);
}

@media (max-width: 500px) {
  .footer {
    padding: 0 1rem;
  }

  .footerContent {
    width: 300px;
    text-align: center;
  }
}
