:root {
  --secondary-color: #20232a;
  --accent-color: #61dafb;

  --light-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

mt-10 {
  margin-top: 10vh;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 1rem;
}
